form {
  width: 400px;
  .form-group {
    margin-bottom: $space-large;
    &:last-child {
      margin: 0;
    }
    .form-element {
      width: 100%;
      border-radius: 5px;
      padding: $space-base;
    }
    .form-link {
      a {
        color: $color-primary;
        font-weight: $font-weight-medium;
      }
    }
  }
}