* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: $color-background;
  color: $color-default;
}

header {
  padding: $space-large;
}

main {
  padding: 0 $space-large;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}


footer {
  padding: $space-large;
  p {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: $color-default;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

input, textarea {
  border: 1px solid #CCCCCC;
  font-size: $font-size-small;
}

textarea {
  resize: vertical;
  height: 128px;
}

button {
  background-color: $color-primary;
  border: 1px solid darken($color-primary, 10%);
  color: $color-background;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: darken($color-primary, 10%);
    border: 1px solid darken($color-primary, 20%);
  }
}

h1 {
  margin: 0 0 $space-large 0;
  font-size: 2rem;
}

h2 {
  margin: 0 0 $space-small 0;
  font-weight: $font-weight-medium;
  font-size: 1.4rem;
}

strong {
  font-weight: $font-weight-medium;
}